@import "reset";
@import "variables";
@import "mediaqueries";
@import "classes";

// BODY
html {
    font-size: 65.5%;
}
body {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    width: 100vw;
    height: 100vh;
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.6rem;
}

// CARD
.card {
    border-radius: 10px;
    padding: 5rem 2.5rem;
    background-color: $dark-grayish-blue;
    text-align: center;
    max-width: 55rem;
    position: relative;
    .number {
        font-size: 1.2rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
        color: $neon-green;
        margin-bottom: 3rem;
    }
    .content {
        font-size: 2rem;
        color: $light-cyan;
        @include xl {
            font-size: 2.8rem;
        }
    }
    .svg-container {
        &-content {
        }
    }
    // .divider {
    //     margin: 3.5rem;
    //     width: 100%;
    // }
    .dice {
        width: fit-content;
        background-color: $neon-green;
        border-radius: 50%;
        padding: 2rem;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        transition: all .3s;
        &.disabled {
            opacity: .5;
            &:hover {
                cursor: auto;
                box-shadow: 0 0 0 $neon-green;
                img {
                    opacity: 1;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 20px $neon-green;
            img {
                opacity: .75;
            }
        }
        img {
            width: 2.5rem;
            transition: opacity .3s;
            &.animation {
                animation: throwDice .5s ease-in-out;
            }
        }
    }
}

@keyframes throwDice {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(180deg);
    }
}